
#banner {
    width: 1191px;
    background-image :url("assets/banner.png");
    height: 463px;
    margin-top:40px;
    display: flex;
    padding:0px 133px;
    position:relative;
    background-color: burlywood;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left img {
    width: 538px;
    height: 463px;
}
#banner .box-right {
    padding-left:20px;
    display: flex;
    font-size: 25px;
}
#banner .box-right a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(119, 136, 137);
}
#banner .box-right span{
    color: rgb(119, 136, 137);
}
#banner .box-right h4{
    margin-left:5px ;
}
#banner .box-right h3{
    color: rgb(73, 117, 29);
}
#add .button-add .number{
    background-color: rgb(166, 153, 135);
    display: inline-block;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}
.touch{
    margin-left: 10px   ;
    height: 40px;
    width: 150px;
    min-width: 100px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background: bisque;
}
.touch span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.touch span.num{
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
a.button-add{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    background-color: brown;
    border-radius: 30px;
}
#add .button-add a:hover{
    color: rgb(105, 36, 36);
}
#describe{
    background-color: antiquewhite;
    width: 100%;
}
#describe .describe{
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(42, 165, 106);
    border-radius: 10px;
    text-decoration: none;
    margin-top: 50px;
}

